deploymentMode: SingleBinary

loki:
  auth_enabled: false
  commonConfig:
    replication_factor: 1
  schemaConfig:
    configs:
      - from: "2024-01-01"
        store: tsdb
        object_store: filesystem
        schema: v13
        index:
          prefix: loki_index_
          period: 24h
  storage:
    type: filesystem
  limits_config:
    retention_period: "{{ logging_loki_retention }}"

singleBinary:
  replicas: 1
  resources:
    requests:
      cpu: "250m"
      memory: "512Mi"
    limits:
      cpu: "1000m"
      memory: "2Gi"
  persistence:
    enabled: true
    storageClass: "{{ logging_storage_class_name }}"
    size: "{{ logging_loki_storage_size }}"

lokiCanary:
  enabled: true

test:
  enabled: false
