---
monitoring_aws_region: ap-northeast-2
grafana_admin_password_ssm_name: /sgs-hasp/monitoring/grafana_admin_password

# Optional overrides
# monitoring_namespace: monitoring
# monitoring_chart_version: "69.8.2"
# grafana_service_type: ClusterIP
# grafana_storage_class_name: gp3
# prometheus_storage_class_name: gp3
# grafana_persistence_size: 10Gi
# prometheus_storage_size: 20Gi
